# Entorno virtual
.venv/
venv/
env/

# Cache de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos del sistema
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/

# Bases de datos locales
*.db
*.sqlite
*.sqlite3

# Logs
*.log
